.wrapper {
  background-color: rgb(191, 216, 192);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100wh;
  height: 100vh;
  background: linear-gradient(to top, #0fd850, #f9f047);
}

.app {
  width: 100%;
  max-width: 450px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  background-color: #ffffff;
  box-shadow: 20px 20px 40px #8a8a8a, -20px -20px 40px rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 0.152);
  border-radius: 25px;
}

@media (min-height: 700px) {
  .app {
    margin-top: 50px;
  }
}

@media (min-height: 800px) {
  .app {
    margin-top: 100px;
  }
}
