.link {
  position: fixed;
  top: 50px;
  left: 110px;
  z-index: 2;
  font-size: 25px;
}

.arrow {
  position: absolute;
  left: -36px;
  transition: all 0.5s ease-out;
}

.link:hover .arrow {
  left: -55px;
}
