@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap");

html,
body {
  margin: 0;
  margin: 0 auto;
  padding: 0 5px;
  font-family: "Outfit", sans-serif;
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

section {
  margin-top: 150px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}
